@font-face{
  src: url(magic-school/MagicSchoolTwo.ttf);
  font-family: magic;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, magic, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: transparent;
}

#chartdiv {
  width: 100%;
  height: 98vh;
}
